:host {
  position: relative;
}

:host::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://images.pexels.com/photos/590016/pexels-photo-590016.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
  height: 97vh;
}

.login-card {
  position: relative;
  width: 350px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  text-align: center;
  z-index: 1;
}

.login-card-in {
  width: 350px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
}

.login-card h2 {
  margin-bottom: 15px;
}

.login-card label {
  display: block;
  text-align: left;
  margin-top: 10px;
  font-weight: bold;
}

.login-card input {
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-card button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.login-card button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error-message {
  color: red;
  margin-top: 10px;
}